:root {
  font-size: 18px;
}

.main{
  background-color: palegoldenrod;
  width: 100%;
  margin: 0 !important ;
}

.row{
  width: 100%;
  align-items: center;
}

.row:last-child{
  padding-bottom: 20px;
}

.badg-no-text{
  font-size: 0.9em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.badge-text{
  height: 1.5em;
}

.bwarning{
background-color: #ffc107;
color: black;
font-weight: 700;
border-radius: 5px;
}

.bprimary{
  background-color: #007bff;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.plus, .minus{
  font-size: 1.5em;
  font-weight: bold;
}

.respMsg {
  background-color: rgb(241, 241, 241);
  text-align: center;
  color: forestgreen;
}

.respBgr0{
  background-color: #ffc107;
  color: black;
  font-weight: 500;
}
.respBgrWhSal{
  background-color: mediumseagreen;
  color: white;
  font-weight: 600;
}

.n1{
  color: #007bff;
}

.n2{
 color: darkgoldenrod; 
}

.n3{
  color: navy; 
 }

.sm-caps {
  font-variant: small-caps;
  color: white;
  border-radius: 5px;
  padding: 2px 7px;
  letter-spacing: 0.3px;
}

.prodW{
  height: 30%;
  width: 5em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.prodName {
  padding: 2px 7px;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 700;
  width: 8em;
  border-radius: 5px;
}

.priceW{
  width: 3em;
  text-align: center;
}

.price {
  font-weight: bold;
  min-width: 3em;
  border-radius: 5px;
}

.bgr1 {
  background-color: slategray;
}

.fCol1 {
  background-color: white;
  color: chocolate;
}

.fCol2 {
  background-color: white;
  color: navy;
}